$background-color: #fff;
$primary-color: #111;
$soft-primary-color: #666666;
$message-background: #e4e4e4;
$shadow-color: #11111199;

$font: "Nunito", sans-serif;
$message-font-size: 16px;

$outer-message-margin: 20px;
$message-margin: 10px 0;
$frame-padding: 10px;